.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    width: 80%;
    margin-left: 15px;
    border-radius: 10px;
    align-items: center;
  }
  
  .nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav__item {
    margin-left: 20px;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav__link--active {
    color: #ff0;
    text-decoration: underline;
  }
  